/* This is a CSS override! It overrides default values for ALL elements. */
/* I highly recommend keeping this override in your code. */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.borel-regular {
	font-family: "Borel", cursive;
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: "Borel", cursive;
	font-weight: 400;
	font-style: normal;
	background: conic-gradient(rgba(243,168,221,1) 0%, rgba(152,219,107,1) 20%, rgba(90,222,232,1) 40%, rgba(253,192,58,1) 60%, rgba(166,144,252,1) 80%, rgba(255,115,77,1) 100%);
	background-size: 100vw 100vh;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	align-items: center;
	padding: 20px;
	font-family: "Borel", cursive;
	font-weight: 400;
	font-style: normal;
}

.flex-container button {
	background-color: lightseagreen;
	color: white;
	border: none;
	padding: 20px;
	font-size: 20px;
	cursor: pointer;
	border-radius: 8px;
	transition: background-color 0.3s;
	font-family: "Borel", cursive;
	font-weight: 400;
	font-style: normal;
}

.flex-container button:hover {
	background-color: mediumseagreen;
	font-family: "Borel", cursive;
	font-weight: 400;
	font-style: normal;
}

.hidden {
	display: none;
}

h1 {
	margin: 20px;
	font-size: 80px;
	word-spacing: 0.25px;
}

h2 {
	margin: 20px;
}
p {
	margin: 20px;
}
ul {
	margin: 20px;
}
li {
	margin: 20px;
}